.bg-main {
    background: linear-gradient(rgb(73, 1, 28), rgb(151, 2, 2));
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.intro-container {
    background-color: aquamarine;
    position: absolute;
    top: 200px;
    left: 20vw;
    width: 60vw;
    max-width: 30vw;
    padding: 20vh;
    border-radius: 6px;
}

.loggedIntro {
    background-color: rgba(255, 0, 0, 0.8);
    color: "yellow";
    position: absolute;
    display: inline-block;
    max-width: 25vw;
    top: 200px;
    left: 20vw;
    width: 50vw;
    padding: 20vh;
    border-radius: 6px;
}